<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MLog</title>
	<meta name="author" content="Ren-N">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="shortcut icon" href="">
</head>
<body>
<div id="header">
	<!-- <h1>LINE</h1> -->
	<img id="logo" src="assets/css/images/LINE_Text_Logo_TypeA_small.png">
</div>

<div id="ChatArea">
	<!-- 日付変更線 -->
	<p class="date-info">2016/7/15(金)</p>
	<hr class="date-line">

	<!-- 行 -->
	<div id="1" class="row">
		<!-- アイコン -->
		<div class="icon-area">
			<div class="icon-wrapper">
				<div class="icon-img" style="background: url(assets/images/usr1.png) center center;"></div>
			</div>
		</div>
		<!-- メッセージ -->
		<div class="message-area">
			<p class="user-name un-left">User Name</P>
			<div class=" message-box mbox-style1-left">
			<p class="message-text">
			BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
			BBB<br>
			BBB<br>
			BBB<br>
			BBB<br>
			BBB<br>
			</p>
			</div>
		</div>
		<!-- 空欄 -->
		<div class="void-area left">
			<p>14:00</p>
		</div>
	</div>

	<!-- システムコメント -->
	<p class="sys-comment time">17:10</p>
	<p class="sys-comment">JobsがWoz, Billを招待しました。</p>


	<div id="2" class="row">
		<!-- 空欄 -->
		<div class="void-area right">
			<p>17:50</p>
		</div>
		<!-- メッセージ -->
		<div class="message-area">
			<p class="user-name un-right">User Name</P>
			<div class="message-box mbox-style1-right">
			DDDD
			</div>
		</div>
		<!-- アイコン -->
		<div class="icon-area">
			<div class="icon-wrapper">
				<div class="icon-img" style="background: url(assets/images/usr1.png) center center;"></div>
			</div>
		</div>
	</div>

</div>
</body>
</html>
