<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MLog</title>
	<meta name="author" content="Ren-N">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="shortcut icon" href="">
</head>
<body>
<div id="header">
	<h1>LINE</h1>
</div>

<div id="messageArea">

	<div id="1" class="row">
		<div class="icon-left">
			<div class="icon-wrapper">
				<div class="icon-img" style="background: url(assets/images/usr1.png) center center;"></div>
			</div>
		</div>
		<div class="message-left">
			<div class="message-box1-left message-txt">
			BBB
			</div>
		</div>
	</div>

	<div id="2" class="row">
		<div class="icon-right">
			<div class="icon-wrapper">
				<div class="icon-img" style="background: url(assets/images/usr1.png) center center;"></div>
			</div>
		</div>
		<div class="message-right">
			<div class="message-box1-right message-txt">
			DDDD
			</div>
		</div>
	</div>

</div>
</body>
</html>
