<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ChatLog</title>
	<meta name="author" content="Ren-N">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="shortcut icon" href="">
</head>
<body>
<!-- HEADER -->
<div id="header">
	<img id="logo" src="assets/css/images/LINE_Text_Logo_TypeA_small.png">
</div>
<!-- MAIN -->
<div id="ChatArea">
___HTMLTEXT___
</div>
</body>
</html>
