<div id="___NUM___" class="row">
  <!-- アイコン -->
  <div class="icon-area">
    <div class="icon-wrapper">
      <div class="icon-img" style="background: url(___ICONSRC___) center center;"></div>
    </div>
  </div>
  <!-- メッセージ -->
  <div class="message-area">
    <p class="user-name un-left">___NAME___</P>
    <div class=" message-box mbox-style1-left">
    <p class="message-text">
    ___MESSAGE___
    </p>
    </div>
  </div>
  <!-- 空欄 -->
  <div class="void-area left">
    <p>___TIME___</p>
  </div>
</div>
